* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Lato", sans-serif;
	line-height: 1;

  }
  body{
    overflow-x: hidden;
  }
  .pd-10{
    padding: 30px;
  }
.txt-alg-right{
  text-align: right;
  
}
.txt-justyfy{
  text-align: justify;
}
.txt-alg-center{
  text-align: center;
}
.txt-alg-left{
  text-align: left;
  position: fixed;
}
.f-s-20{
  font-size: 20px;
}
.bg-green{
   background-color: #8CBF3A; 
}
.bg-wh{
  background-color: white;
  color:#252525;
}
.bg-bl{
background-color: #252525;
}
  .ml{
      margin-left: 65%;
  }
  .m0{
      margin: 0px!important;
  }

  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  .row-ca{
    margin-top: 10px;
  }
  .title-p{
    font-weight: bolder;
    font-size: 50px;
   color: white;
    text-shadow: 5px 5px  #0246555e;
  }
  .red{
    color: rgb(255, 0, 0);
    font-weight: 900;
  }
 
  .media
 {
    padding: 20px;
      border-radius: 10px;
      transition: all 2s;
      margin: 0px !important;
  }
  .media:hover{
    background-color: #fafafa !important;
    color: #FFC312!important;
    transition: all 2s;
  }
  .media-heading{
    font-size: 50px;
    text-shadow:2px 3px 0px gray;
    font-weight: bold;
  }
 
  
  .media.flipped {
   
    -webkit-transform: rotateY( 360deg );
   
    -moz-transform: rotateY( 360deg );
   
    -o-transform: rotateY( 360deg );
   
    transform: rotateY( 360deg );
    
    }
    
  
  .img-i{
    width: 200px;
    height: 200px;
  }
  #buscador{
    margin: 5px 0px 5px 30px;
    transition: all 1s;
    left: 0%;
  }
  #buscador:focus{
    margin: 5px 0px 5px 30px;
    background-color: rgb(211, 208, 208);
    transition: all 1s;
    box-shadow:3px 3px 3px 3px rgba(37, 0, 247, 0.295)!important;
  }
 .fa-search{
   margin-top:15px !important;
   
 }
 #respuesta{
   position: absolute;
   border-radius: 10px;
   background-color: #fafafa;
  
   top: 68%;
   left: 74.5%;
   max-width: 215px;
   min-width: 215px;
   z-index: 1;
   max-height: 190px;
   overflow-y: scroll;
   overflow-x: hidden;
 }

 #respuesta::-webkit-scrollbar {
  width: 6px;
}

#respuesta::-webkit-scrollbar-thumb {
  background: #FFC312;
  border-radius: 5px;
}
.busc-card{
  padding: 20px;
  background-color: rgba(235, 232, 232, 0.233);
  box-shadow: 4px 4px 10px gray;

}
.img-bus{
 
  border-radius: 40px;
  margin-left:-10px;
}
.icono-busc-a{
  text-decoration: none!important;
  color:black;
  font-size: 15px;
}
.icono-busc-a:hover{
  color:white;
}
.icono-busc{
  text-decoration: none;
  color: white;
  font-size: 20px!important;
}
.col-bus{
  margin-top: 40px;
  border-radius: 20px;
  transition: all .5s;
  background-color: rgba(240, 228, 228, 0.5);
}
.col-bus:hover{
  background-color: rgb(98, 209, 68);
}
/*TOOL*/

/* CON JS */



.tooltip-info {
  background: #8CBF3A;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  position: fixed;
  visibility: hidden;
  z-index: 10;
top: 10%;
left: 15%;
  
}

.tooltip-box:hover .tooltip-info {
  visibility: visible;
  
}

.receta{
  transition: all 1s;
  border-radius: 10px;
  width: 75%;
  height:fit-content;
  background: url("../images/recipe.jpg") 40% 21%/cover no-repeat;
  position: absolute;
  visibility: hidden;
  color: black;
  transform:translate(800%,-30%) ;
  z-index: -1;
  text-align: justify!important;
}
.receta-act{
  border-radius: 0px 100px 100px 100px;
  transition: all 1s;
  width: 75%;
  height:fit-content;
  transform:translate(20%,-50%) ;
  background: url("../images/recipe.jpg") 40% 21%/cover no-repeat;
  position: absolute;
  visibility: visible;
  z-index: 2;
  padding: 10px;
color: black;
text-align: justify!important;

}
.cl-receta{
  color: black;
  font-size: 50px;
  padding: 10px;
}
.text-receta{
  color: black;
  font: 20px;
  
}

.icon-img-com{
  height: 60px;
  margin: -11% 0px 0px -97%;
  position: absolute;
  z-index: 5;
}
.wrap-content-recipe{
  border-radius: 20px;
  border:4px groove black ;
  margin: 50px;
}
.wrap-list-ing{
  color: black;
  background-color:rgba(243, 245, 243, 0.6) ;
  padding: 10px;
  border-radius: 10px;
   text-align: justify;
}
.wrap-list-step{
  background-color:rgba(193, 236, 193, 0.6) ;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  }
  .wrap-list-step li{
    list-style-image:url('../images/check_green_icon.png');
  list-style-position: outside;
  }

.list-ing li::before{

content:  url('../images/check_green_icon.png')'  ';
}
.ir-arriba {
	display:block;
  border-radius: 50%;
  box-shadow:2px 2px 2px 2px rgba(24, 26, 24, 0.9);
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
  z-index: 2;
  transition: all .3s;
} 
.abrir-chat {
	display:block;
  border-radius: 50%;
  box-shadow:2px 2px 2px 2px rgba(24, 26, 24, 0.9);
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:140px;
	right:30px;
  z-index: 3;
  transition: all .5s;
} 
.abrir-chat:active{
  background:#8CBF3A;
  box-shadow:0px 0px 0px 0px rgba(24, 26, 24, 0.9);
  bottom:135px;
}
.ir-arriba:active{
  background:#8CBF3A;
  box-shadow:0px 0px 0px 0px rgba(24, 26, 24, 0.9);
  color:white;
  bottom:15px;
}
.icon-milk{
  height: 60px;
}
.img-r{
  height: 100px;
  margin: 10px;
 
}
.img-al{
height:150px ;
width: 220px;
position: absolute;
transform: translate(10%,-50%);
}
.img-ing-su{
  height:60px ;
  width:60px;

}
.close-chat{
  float: right;
  font-size: 30px;
  margin: 10px;
  color: white;
}

.vaca-chat{
  height: 20px;
}
.comentario{
  color: gray;
  text-align: justify;
}
.col-12-p{
  align-items: center;
  width: 100%;
  position: fixed;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
 z-index: 6;
  background-color: goldenrod ;
  border:2px solid whitesmoke ;
  height: 80px;

}
.img-sad{
  margin-top: 100px;
  border:4px solid goldenrod;
  border-radius: 40%;
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgba(240, 228, 228, 0.5);
}

.bt53-search{
  margin-bottom: 50px;
  background-color: transparent;
}


@media only screen and (max-width: 950px)  {
  .img-r{
    height: 60px;
    margin: 10px;
   
  }
  .img-al{
    height:140px ;
    width:160px ;
    position: absolute;
    transform: translate(10%,-40%);
    }
  .cl-receta{
    color: black;
    font-size: 25px;
    padding: 10px;
  }
  .receta{
    transition: all 1s;
    border-radius: 10px;
    width: 80%;
    height:fit-content;
    background: url("../images/recipe.jpg") 40% 21%/cover no-repeat;
    position: absolute;
    visibility: hidden;
    font-size: 1rem; 
    transform:translate(800%,-45%) ;
    z-index: -1;
    text-align: justify!important;
  }
  .receta-act{
    border-radius: 0px 100px 100px 100px;
    transition: all 1s;
    width: 80%;
    height:fit-content;
    transform:translate(20%,-45%) ;
    background: url("../images/recipe.jpg") 40% 21%/cover no-repeat;
    position: absolute;
    visibility: visible;
    z-index: 2;
    padding: 10px;
  font-size: 1rem;
  
  text-align: justify!important;
  }
  .receta-act h3,.receta-act h5,.receta-act h1,.receta-act h4{
    font-size: 1.2rem!important;
    font-weight: bolder;
  }
  
  .list-ing li::before{

    content:'  ';
    }

}
