* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Lato", sans-serif;
	line-height: 1;

  }
 


.bg-green{
   background-color: #8CBF3A; 
}
.bg-wh{
  background-color: white;
  color:#252525;
}
.bg-bl{
background-color: #252525;
}
  .ml{
      margin-left: 65%;
  }
  .m0{
      margin: 0px!important;
  }

  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  .media
 {
    padding: 20px;
      border-radius: 10px;
      transition: all 2s;
      margin: 0px !important;
  }
  .media-heading{
    font-size: 50px;
    text-shadow:2px 3px 0px gray;
    font-weight: bold;
  }
 
  .media:hover{
    color: goldenrod;
    background-color: white;
    box-shadow: 10px 10px 10px goldenrod;
    font-size: 25px!important;
    padding: 80px;
    cursor: pointer;

  }
  .media.flipped {
   
    -webkit-transform: rotateY( 360deg );
   
    -moz-transform: rotateY( 360deg );
   
    -o-transform: rotateY( 360deg );
   
    transform: rotateY( 360deg );
    
    }
    
  
  .img-i{
    width: 200px;
    height: 200px;
  }
  #buscador{
    margin: 5px 0px 5px 30px;
   
  }
 .fa-search{
   margin-top:15px !important;
   
 }
 #respuesta{
   position: absolute;
   border-radius: 10px;
   background-color: #fafafa;
  
   top: 68%;
   left: 74.5%;
   max-width: 215px;
   min-width: 215px;
   z-index: 1;
   max-height: 190px;
   overflow-y: scroll;
   overflow-x: hidden;
 }

 #respuesta::-webkit-scrollbar {
  width: 6px;
}

#respuesta::-webkit-scrollbar-thumb {
  background: #FFC312;
  border-radius: 5px;
}
.busc-card{
  padding: 20px;
  background-color: rgba(235, 232, 232, 0.233);
  box-shadow: 4px 4px 10px gray;

}
.img-bus{
 
  border-radius: 40px;
  margin-left:-10px;
}
.icono-busc-a{
  text-decoration: none!important;
  color:black;
  font-size: 15px;
}
.icono-busc-a:hover{
  color:white;
}
.icono-busc{
  text-decoration: none;
  color: white;
  font-size: 20px!important;
}
.col-bus{
  margin-top: 40px;
  border-radius: 20px;
  transition: all .5s;
  background-color: rgba(240, 228, 228, 0.5);
}
.col-bus:hover{
  background-color: rgb(98, 209, 68);
}
/*TOOL*/