@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

html,
body {
    height: 90%;
    font-family: 'Fjalla One';
}
body {
	text-align: center;
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    
}

.row {
    margin-bottom: 1rem;
    align-items: center;
  }
  .row .row {
    margin-top: 1rem;
    margin-bottom: 0;
    align-items: center;
  }
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container{
      align-items: center !important;
      align-content: center;
      align-self: center;
      padding: 5px;
  }

  #descripcion{
      border-top: 2px solid black;
      border-bottom: 2px solid black;
  }

  .desc{
      text-align: justify;
  }

  .btn_agregar{
	background-color: white;
	color: black;
    border: solid 2px black;
	border-radius: 5px;
}